body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#sitename {
  float: left;
  margin: 12px 0 0 20px;
  color: grey;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  /*z-index: -1;*/
  text-align: center;
  height: 55px;
}

ul {
  float: right;
}
nav li {
  display: inline-block;
  color: grey;
  padding: 0 20px;
  float: left;
  font-size: 1.2em;
}

h1 {
  color: grey;
  margin: 0;
}

section {
  height: 890px;
  padding-top: 50px;
  background-size: cover;
  background-attachment: fixed;
}

li a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

li a:hover {
  color: #efefef;
}

#home {
 /* height: 600px;
  width: 500px;*/
  background-image: url(http://static1.squarespace.com/static/5411e9cce4b0626c6521f8c3/t/550aa60ae4b0f79d2d77b6e4/1426761236881/J16HCHHXGN.jpg?format=2500w);
}
.welcoming {
  font-size: 2em;
  margin: 50px 0 0 100px;
}
#welcome {
  font-size: 2.5em;
  color: white;
}

#newAge {
  color: white;

}

#homeP {
  font-family: 'Roboto', sans-serif;
  padding-right: 30px;
  margin: auto;
  color: white;
  width: 500px;
  font-size: 1.5em;
  /*float: right;*/
  text-align: center;
}

#ourMission {
  background-image: url(https://cdn-images-1.medium.com/max/1920/1*dInjJQp5j8BnwJd4GU_OlA.jpeg);
}

#theUniverse {
  background-image: url(http://www.marketingfacts.nl/images/imagesblog/5.jpg);
}

#tripToMars {
  background-image: url(http://mars.nasa.gov/msl/imgs/2015/08/mars-curiosity-rover-msl-horizon-sky-self-portrait-PIA19808-full.jpg);
}

#contact {
  background-image: url(http://www.space.com/images/i/000/021/536/original/pencil-nebula-wide-1920.jpg?interpolation=lanczos-none&fit=around%7C1920:1200&crop=1920:1200;*,*);
}

.current a{
  color: white;
  font-size: 20px;
}

#backToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  padding: px;
  color: #efefef;
  font-size: 3em;
  cursor: pointer;
  background-color: transparent;
}

.contactDiv {
  text-align: center;
  font-size : 1.5em;
}

form {
  max-width : 500px;
  margin-top:;
  margin    : 90px auto;
  padding   : 20px 20px;
  background: #f4f7f8;
  border-radius: 10px;
}
fieldset {
border: none;
padding-right: 50px;
}
input, textarea{
  font-size: 16px;
  padding: 15px;
  margin-right: 40px;
  width: 100%;
  background-color: #e8eeef;
  margin-bottom: 40px;
}
#contactButton {
  margin-left: 15px;
  padding: 10px;
  color  : #FFF;
  background-color: rgba(42, 50, 58, .8);
  font-size : 18px;
  text-align: center;
  border-radius: 10px;
  width : 100%;
  border: 1px solid #rgba(0, 0, 0, .7);
  border-width : 1px 1px 3px;
}
.rocket {
}

#rocket {
  background-image: url(http://www.clipartbest.com/cliparts/niB/Xbd/niBXbdg9T.png);
  width: 100px;
  transform: rotatey(45deg);
  height: 100px;
  /*transform: rotatex(90deg);*/

  animation: move 5s infinite alternate;
  }
    @keyframes move {
      0% {

        transform: translate(0, 0);
      }
      20% {
        transform: translate(300px, 0);
      }

      40% {
        transform: translate(700px, 0);
      }
      60% {
        transform: translate(1000px, 0);
      }
      80% {
        transform: translate(1300px, 0);
      }
      100% {
        transform: translate(1500px, 0);
      }
    
}
#starName {
  margin-top: 20px;
}

#menu-btn {
  position: fixed;
  top: 2px;
  right:10px;
  border: none;
  z-index: 2;
  background: transparent;
  font-size: 2em;
  color: #efefef;
  cursor: pointer;
  display: none;
}

/*responsive*/
@media (max-width: 768px) {
  
  .welcoming{
    margin: 50px;
    text-align: center;
  }

  #homeP {
    font-size: 1.3em;
    margin: 0 auto;
    clear: both;
    text-align: center;
    padding: 0;
    
  }

  #menu-btn {
    display: block;
  }

  nav ul {
    display: none;
    padding-left: 20px;
    background: black;
    width: 100%;
  }

  nav li {
    display: block;
    clear: both;
    text-align: left;
    padding: 20px;
  }
  }

@media (max-width: 480px) {

  form {
    max-width: 320px;
  }

  #homeP {
    width: 380px;
    font-size: 1.2em;
  }
  
}
